.title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;
  font-family: "janyk", monospace;
}

.page {
  padding: 24px;
  width:300px;
    padding-right: 24px;
  padding-right: 60vw;
}

body {
color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  background-color: black;
  }

